<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <center>
        <form action="add_escola" method="POST">
            <input type="text" name="nome"  placeholder="nome"><br>
            <input type="text" name="email"  placeholder="email"><br>
            <input type="password" name="senha"  placeholder="senha min(8)"><br>
            <input type="text" name="logradouro"  placeholder="logradouro"><br>
            <input type="number" name="numero" placeholder="numero"><br>
            <input type="text" name="complemento" placeholder="complemento"><br>
            <input type="text" name="bairro" placeholder="bairro"><br>
            <input type="text" name="estado" placeholder="estado"><br>
            <input type="text" name="cidade" placeholder="cidade"><br>
            <input type="text" name="cep" placeholder="cep min 8 max 9"><br>
            <input type="text" name="telefone" placeholder="telefone"><br>
            <input type="text" name="telefone2" placeholder="telefone adicional"><br>
           <label>publica?</label> <select name="publica">
                <option value="sim" selected>sim</option>
                <option value="nao" >nao</option>
              </select>
              <button type="submit">cadastrar</button>
        </form>
    </center>
</body>
</html>