<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="/add_prof" method="POST">
            <input type="text" name="nome"  placeholder="nome"><br>
            <input type="text" name="email"  placeholder="email"><br>
            <input type="password" name="senha"  placeholder="senha"><br>
            <input type="number" name="id_escola"  placeholder="ID ESCOLA (FK)"><br>
       
          
              <button type="submit">cadastrar</button>
        </form>
    </center>
</body>
</html>